# Ignore log files
*.log

# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore large vendored dependencies and output directories
src/vidur/
src/thirdparty/
src/ddsketch/
src/scripts_output/
src/data/
